language: ruby
rvm:
  - 2.0.0
  - 1.9.3
  - 1.9.2
  - jruby-19mode
  - ruby-head
  - jruby-head
env:
  - "RAILS_VERSION=3.1.0"
  - "RAILS_VERSION=3.2.0"
  - "RAILS_VERSION=4.0.0"
  - "RAILS_VERSION=master"  
matrix:
  allow_failures:
    - env: "RAILS_VERSION=master"
  exclude:
    - rvm: 1.9.2
      env: RAILS_VERSION=4.0.0  
script: rspec spec
